{#
 # @package    OSCampus
 # @contact    www.ostraining.com, support@ostraining.com
 # @copyright  2015 Open Source Training, LLC. All rights reserved
 # @license
 #}

{% extends 'admin_form.html.twig' %}

{% set main_legend = 'COM_OSCAMPUS_PAGE_VIEW_TEACHER_' ~ (item.id ? 'EDIT' : 'ADD')|lang %}

{% block form_body %}
    <div class="fltlft width-60">
        {{ html('osc.render.adminfields', form, 'main', main_legend)|raw }}
    </div>
    <div class="fltlft width-40">
        {{ html('osc.render.adminfields', form, 'links')|raw }}
    </div>
{% endblock %}
