{#
 # @package    OSCampus
 # @contact    www.ostraining.com, support@ostraining.com
 # @copyright  2015 Open Source Training, LLC. All rights reserved
 # @license
 #}

{% extends 'admin_form.html.twig' %}

    {% block form_body %}
        <div class="fltlft width-60">
            {{ html('osc.render.adminfields', form, 'main')|raw }}
        </div>
        <div class="fltlft width-40">
            {{ html('osc.render.adminfields', form, 'links')|raw }}
        </div>
    {% endblock %}
