{#
 # @package    OSCampus
 # @contact    www.joomlashack.com, help@joomlashack.com
 # @copyright  2016 Open Source Training, LLC. All rights reserved
 # @license
 #}
<button
        class="btn"
        type="button"
        onclick="document.getElementById('batch-category-id').value='';document.getElementById('batch-access').value='';document.getElementById('batch-language-id').value='';document.getElementById('batch-user-id').value='';document.getElementById('batch-tag-id').value=''"
        data-dismiss="modal">
    {{ 'JCANCEL'|lang }}
</button>
<button
        class="btn btn-success"
        type="submit"
        onclick="Joomla.submitbutton('lesson.batch');">
    {{ 'JGLOBAL_BATCH_PROCESS'|lang }}
</button>
