{#
 # @package    OSCampus
 # @contact    www.joomlashack.com, help@joomlashack.com
 # @copyright  2016 Open Source Training, LLC. All rights reserved
 # @license
 #}
<div class="row-fluid">
    <div class="control-group span12">
        <div class="controls">
            {{ layout('joomla.html.batch.access')|raw }}
        </div>
    </div>
</div>
