{#
 # @package    OSCampus
 # @contact    www.ostraining.com, support@ostraining.com
 # @copyright  2015-2016 Open Source Training, LLC. All rights reserved
 # @license
 #}

<p>search tools for Joomla 3</p>

{#
$app = SimplerenewFactory::getApplication();
$user = SimplerenewFactory::getUser();
$userId = $user->get('id');
$listOrder = $this->escape($this->state->get('list.ordering'));
$listDir = $this->escape($this->state->get('list.direction'));
$saveOrder = $listOrder == 'plan.ordering';

if ($saveOrder) {
$saveOrderingUrl = 'index.php?option=com_simplerenew&task=plans.saveOrderAjax&tmpl=component';
JHtml::_('sortablelist.sortable', 'planList', 'adminForm', strtolower($listDir), $saveOrderingUrl);
}

?>
<script type="text/javascript">
    Joomla.orderTable = function () {
        var dirn;

        var table = document.getElementById("sortTable");
        var direction = document.getElementById("directionTable");
        var order = table.options[table.selectedIndex].value;
        if (order != '<?php echo $listOrder; ?>') {
            dirn = 'asc';
        }
        else {
            dirn = direction.options[direction.selectedIndex].value;
        }
        Joomla.tableOrdering(order, dirn, '');
    }
</script>

<form
        action="<?php echo JRoute::_('index.php?option=com_simplerenew&view=plans'); ?>"
        method="post"
        name="adminForm"
        id="adminForm">

    <?php
echo JLayoutHelper::render('joomla.searchtools.default', array('view' => $this));
#}
