{#
 # @package    OSCampus
 # @contact    www.ostraining.com, support@ostraining.com
 # @copyright  2015 Open Source Training, LLC. All rights reserved
 # @license
 #}

{{ html('stylesheet', 'com_oscampus/admin.css', null, true) }}

<div class="osc-container row-fluid">
    {% block main_content %}{% endblock  %}
</div>
