{#
 # @package    OSCampus
 # @contact    www.ostraining.com, support@ostraining.com
 # @copyright  2015-2016 Open Source Training, LLC. All rights reserved
 # @license
 #}

<p>Joomla 2 no longer supported</p>

<div class="clr"></div>
