{#
 # @package    OSCampus
 # @contact    www.ostraining.com, support@ostraining.com
 # @copyright  2015 Open Source Training, LLC. All rights reserved
 # @license
 #}

<link rel="stylesheet" type="text/css" href="{{ media_base_url }}/css/admin.css">

<div class="osc-container row-fluid">
    {% if submenu_items or filter_items %}
        <div id="j-sidebar-container" class="span2">
            {% include "sidebar.html.twig" %}
        </div>
    {% endif %}

    <div id="j-main-container" {% if submenu_items or filter_items %}class="span10"{% endif %}>
        {% block main_content %}{% endblock  %}
    </div>
</div>
