{#
 # @package    OSCampus
 # @contact    www.ostraining.com, support@ostraining.com
 # @copyright  2015-2016 Open Source Training, LLC. All rights reserved
 # @license
 #}

{% extends "admin_list.html.twig" %}

{% block main_content %}
    <h1>Guru Data Dashboard</h1>

    <ol>
        <li>Run the <a href="index.php?option=com_oscampus&task=import.import">current import</a></li>
        <li><a href="index.php?option=com_oscampus&task=import.fixLessonViews">Fix lesson views</a></li>
    </ol>

    <p>It's safe to run the full import whenever you want! But....</p>
    <p>
        Be patient while it runs, it currently takes about 9 minutes to complete and you will likely recieve a 500 error
        or an internal server error. This is due to apache timing out ahead of php. The script is still
        be running and the log file will be written sometime after the error occurs.
    </p>

    <p>
        <a href="index.php?option=com_oscampus&task=import.showlog">View the log for the last import</a>
    </p>
{% endblock %}
