{#
 # @package    OSCampus
 # @contact    www.ostraining.com, support@ostraining.com
 # @copyright  2015-2016 Open Source Training, LLC. All rights reserved
 # @license
 #}

{% extends "admin_list.html.twig" %}

{% block main_content %}
    <h1>Guru Data Imports</h1>

    <ol>
        <li><a href="index.php?option=com_oscampus&task=import.import">All Course Data</a></li>
        <li><a href="index.php?option=com_oscampus&task=import.importUser">User Tracking Data</a></li>
        <li><a href="index.php?option=com_oscampus&task=import.fixLessonViews">Fixes for User Tracking Data</a></li>
    </ol>

    <p>It's safe to run the imports whenever you want!</p>

    <p>
        <a href="index.php?option=com_oscampus&task=import.showlog">View the log for the last import</a>
    </p>
{% endblock %}
