<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<config>
    <fieldset
        name="main"
        label="COM_OSCAMPUS_CONFIGURATION_MAIN">

        <fields name="signup">
            <field
                name="new"
                type="menuitem"
                label="COM_OSCAMPUS_CONFIGURATION_MAIN_SIGNUP_NEW_LABEL"
                description="COM_OSCAMPUS_CONFIGURATION_MAIN_SIGNUP_NEW_DESC">
                <option value="">COM_OSCAMPUS_OPTION_SELECT_MENUITEM</option>
            </field>

            <field
                name="upgrade"
                type="menuitem"
                label="COM_OSCAMPUS_CONFIGURATION_MAIN_SIGNUP_UPGRADE_LABEL"
                description="COM_OSCAMPUS_CONFIGURATION_MAIN_SIGNUP_UPGRADE_DESC">
                <option value="">COM_OSCAMPUS_OPTION_SELECT_MENUITEM</option>
            </field>
        </fields>

        <field
            name="certificateImage"
            type="media"
            label="COM_OSCAMPUS_CONFIGURATION_CERTIFICATE_IMAGE_LABEL"
            description="COM_OSCAMPUS_CONFIGURATION_CERTIFICATE_IMAGE_DESC"/>

    </fieldset>

    <fields name="videos">
        <fieldset
            name="videos"
            label="COM_OSCAMPUS_CONFIGURATION_VIDEOS">

            <field
                name="downloadLimit"
                type="text"
                class="inputbox"
                label="COM_OSCAMPUS_CONFIGURATION_VIDEOS_DOWNLOAD_LIMIT_LABEL"
                description="COM_OSCAMPUS_CONFIGURATION_VIDEOS_DOWNLOAD_LIMIT_DESC"
                default="20"
                size="5"/>

            <field
                name="downloadLimitPeriod"
                type="text"
                class="inputbox"
                label="COM_OSCAMPUS_CONFIGURATION_VIDEOS_DOWNLOAD_LIMIT_PERIOD_LABEL"
                description="COM_OSCAMPUS_CONFIGURATION_VIDEOS_DOWNLOAD_LIMIT_PERIOD_DESC"
                default="7"
                size="5"/>

        </fieldset>
    </fields>

    <fields name="wistia">
        <fieldset
            name="wistia"
            label="COM_OSCAMPUS_CONFIGURATION_WISTIA">
            <field
                name="apikey"
                type="textarea"
                class="inputbox"
                label="COM_OSCAMPUS_CONFIGURATION_WISTIA_APIKEY_LABEL"
                description="COM_OSCAMPUS_CONFIGURATION_WISTIA_APIKEY_DESC"/>

        </fieldset>
    </fields>

    <fieldset
        name="permissions"
        label="JCONFIG_PERMISSIONS_LABEL"
        description="JCONFIG_PERMISSIONS_DESC">
        <field
            name="rules"
            label="JCONFIG_PERMISSIONS_LABEL"
            type="rules"
            class="inputbox"
            filter="rules"
            validate="rules"
            component="com_oscampus"
            section="component"/>
    </fieldset>
</config>
