{#
 # @package    OSCampus
 # @contact    www.ostraining.com, support@ostraining.com
 # @copyright  2015 Open Source Training, LLC. All rights reserved
 # @license
 #}

{% extends "admin_form.html.twig" %}

{% block form_top %}
    {{ html('osc.render.formfield', form.getField('title'))|raw }}
    {{ html('osc.render.formfield', form.getField('alias'))|raw }}
    <div class="clr"></div>
{% endblock %}

{% block form_body %}
    {{ html('osc.render.admintabs', form, ['main', 'descriptions'], null, true)|raw }}
{% endblock %}

