{#
 # @package    OSCampus
 # @contact    www.ostraining.com, support@ostraining.com
 # @copyright  2015 Open Source Training, LLC. All rights reserved
 # @license
 #}
{{ html('osc.sortable', '.sortable')|raw }}
<ul class="sortable">
    {% for module in lessons %}
        <li>{{ module.title }}
            <ul class="sortable">
                {% for lesson in module.lessons %}
                    <li>{{ lesson.title }}</li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
</ul>

