/* Alledia Installer
 ========================================================================== */
.ost-container .ost-steps {
    text-align: center;
}

.ost-container .ost-connector {
    display: table-cell;
    height: 90px;
}

.ost-container .ost-step {
    margin-top: 15px;
}

.ost-container .ost-steps img {
    position: relative;
    top: 50%;
}

.ost-container .ost-steps .btn {
    margin-top: 6px;
}

.ost-container .ost-error {
    color: #b94a48;
}

.ost-container .ost-ok {
    color: #468847;
}

.ost-container-welcome {
    margin: 25px 0;
}

/* Joomla admin
 ========================================================================== */

#j-main-container table tr.head2 th {
    background-color: #ccc !important;
    color: #333 !important;
    text-align: center;
    border-left: solid 1px #333;
}

#j-main-container table tr.head2 th:last-child {
    border-right: solid 1px #333;
}

fieldset.checkboxes input[type=checkbox] {
    margin-right: 4px;
}

ul ul.ui-sortable {
    padding-left: 10px;
    padding-top: 5px;
}

/* Quiz
 ========================================================================== */

.osc-quiz-questions > ul > li.osc-question {
    display: table;
}

.osc-quiz-questions ul li.osc-question {
    margin: 15px 0;
    padding: 15px;
}

.osc-quiz-questions ul li.osc-question:nth-child(2n+1) {
    background: rgba(242,242,242,0.5);
}

.osc-quiz-questions ul li input[type="text"] {
    float: none;
    line-height: 20px;
    margin-bottom: 0;
}

.osc-quiz-questions ul li.osc-question > input[type="text"] {
    width: 500px;
    font-weight: 600;
    font-size: 13px;
    margin: 0 0 10px 0;
    padding: 5px 10px;
    border-left-style: solid;
    border-left-width: 5px;
}

.osc-quiz-questions ul li.osc-answer > input[type="text"] {
    width: 448px;
    font-size: 12px;
    margin: 0 0 4px 0;
    padding: 2px 8px;
}

.osc-quiz-questions ul li.osc-answer > input[type="radio"] {
    float: left;
    margin-right: 5px;
}

.osc-quiz-questions button {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    color: #fff;
    background: #999;
    border: none;
}

.osc-quiz-questions button:hover,
.osc-quiz-questions button:focus {
    border: none;
}

.osc-quiz-questions button.osc-btn-warning-admin {
    background: #ff0000;
}

.osc-quiz-questions button.osc-btn-warning-admin:hover,
.osc-quiz-questions button.osc-btn-warning-admin:focus {
    background: #FF4D4D;
}

.osc-quiz-questions button.osc-btn-main-admin {
    background: #8cc14c;
}

.osc-quiz-questions button.osc-btn-main-admin:hover,
.osc-quiz-questions button.osc-btn-main-admin:focus {
    background: #99c85f;
}

.osc-quiz-questions ul li.osc-question > button,
.osc-quiz-questions ul li.osc-answer > button {
    float: right;
    margin: 0 0 0 5px;
}

.osc-quiz-questions ul li.osc-question > button,
.osc-quiz-questions ul li.osc-add-question > button {
    font-size: 14px;
    padding: 8px 5px;
}

.osc-quiz-questions ul li.osc-answer > button,
.osc-quiz-questions ul li.osc-add-answer > button {
    font-size: 12px;
    padding: 6px 6px;
}

.osc-quiz-questions ul li h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

.osc-quiz-questions li.osc-question ul {
    padding-bottom: 10px;
}

.osc-quiz-questions ul li.osc-answer {
    padding-left: 40px;
}

.osc-quiz-questions ul li.osc-add-answer {
    padding-left: 62px;
}

.osc-quiz-questions ul li.osc-add-question {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #ccc;
}