/* Help classes
 ========================================================================== */
.ost-container .m-bottom {
    margin-bottom: 30px;
}

.ost-container .m-top {
    margin-top: 30px;
}

.ost-container .p-bottom {
    padding-bottom: 30px;
}

.ost-container .p-full{
    padding: 30px;
}

.ost-container .b-bottom {
    border-bottom: 1px solid #f2f2f2;
}

/* Media Queries
 ========================================================================== */
@media (max-width: 480px){
    
}