@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,300'; /* remove this later */

#oscampus.osc-container p,
#oscampus.osc-container h1,
#oscampus.osc-container h2,
#oscampus.osc-container h3,
#oscampus.osc-container div,
#oscampus.osc-container li,
#oscampus.osc-container span,
#oscampus.osc-container label,
#oscampus.osc-container td,
#oscampus.osc-container input,
#oscampus.osc-container button,
#oscampus.osc-container textarea,
#oscampus.osc-container select {
    font-family: 'Open Sans', sans-serif;
}

/* Labels
 ========================================================================== */
#oscampus.osc-container .osc-label {
    background-repeat: no-repeat;
    background-position: 8px center;
    background-size: auto 11px;
    display: inline-block;
    padding: 2px 8px 2px 23px;
    text-align: center;
    text-transform: none;
    vertical-align: middle;
    margin: 0 1px 0 0;
}

/* Help classes
 ========================================================================== */
#oscampus.osc-container .a-center {
    text-align: center;
}

#oscampus.osc-container .a-right {
    text-align: right;
}

#oscampus.osc-container .a-left {
    text-align: left;
}

/* Media Queries
 ========================================================================== */
@media (max-width: 480px){

}